{% extends "::base.html.twig" %}

{% block title %}MjrFrontendOperationsBundle:Registration:Register1{% endblock %}

{% block body %}
<h1>Welcome to the Registration:Register1 page</h1>
{% endblock %}
