{% extends "::base.html.twig" %}

{% block title %}MjrFrontendOperationsBundle:Registration:Register3{% endblock %}

{% block body %}
<h1>Welcome to the Registration:Register3 page</h1>
{% endblock %}
