{% extends "::base.html.twig" %}

{% block title %}MjrFrontendOperationsBundle:Registration:Regsiter2{% endblock %}

{% block body %}
<h1>Welcome to the Registration:Regsiter2 page</h1>
{% endblock %}
