/var/logs/nginx/error.log
/var/logs/nginx/access.log
/var/logs/prod.log
/var/logs/dev.log
/var/logs/php5-fpm.log
/build/
/config/parameters.yml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/web/bundles/
.ssh
.know_hosts
.bashrc
.bash_profile
.bash_logout
.profile
.gitconfig
ssl
.bash_history
.composer/
.nano_history
web/css/
web/fonts/
web/js/

